.git/
.vercel/

node_modules/
functions/node_modules/
mobile/node_modules/

dist/
mobile/dist/
mobile/.expo/
mobile/android/
mobile/ios/

.env
.env.*
mobile/.env
mobile/.env.*
functions/.env.*
!mobile/.env.example
!functions/.env.example

*.log
*.tsbuildinfo
.DS_Store
